body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /*background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;*/
}
html {
  font-size: 100%; /*Means 10 pixel*/
}
