.bg {
  background-color: rgb(234, 231, 231);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBoundary {
  background-color: #1e1e1e;
  color: white !important;
  font-family: "Rubik";
  padding: 20px;
  border-radius: 10px;
}
h3,
h5 {
  color: white !important;
}
.inputfield {
  width: 100%;
  background-color: #303245;
  border: solid 1px #303245;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
}
.formBoundary button {
  width: 100%;
  background-color: rgb(153, 18, 38);
  color: white;
  border: none;
  font-size: 20px;
  margin: 10px 0px;
}
