.bannerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.banner {
  height: 65vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
}

/*BANNER COMPLETE*/
/*WHEN THERE ARE MORE IMAGES, WILL REPLAVCE WITH SLICK*/
.divider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left {
  flex-basis: 60%;
  padding: 30px 10px 0px 30px;
}
.right {
  flex-basis: 40%;
  padding: 30px 30px 0px 10px;
}

.left_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 72px;
  color: #000000;
}
.left_address {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  word-wrap: break-word;

  color: #9b8787 !important;
  white-space: pre-line;
}
.left_address span {
  color: #9b8787 !important;
}
.left_best_title {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 40.5px;
  /* identical to box height */

  color: #000000;
}
.best_cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 15px 22.5px;
}
.best_card {
  flex-basis: 40%;
  background: #a0522d;
  border-radius: 10px 0px;
  border: solid 1px #a0522d;
  margin: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;

  text-align: center;
  display: inline-block;
  color: #fff8f8;
}
.left_moreHotels {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 30px;
  flex-wrap: wrap;
}
.left_moreHotel {
  border: solid 3px black;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left_more_title {
  padding: 0px 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: black;
}

.left_moreMetaData {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 15px;
}
.left_moreMetaData_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;

  color: #000000;
}
.moreImage {
  width: 350px;
  height: 250px;
  object-fit: cover;
}
.left_moreMetaData button {
  width: 100%;
  background-color: #a0522d;
  color: white;
  font-size: 20px;
  border: 0.1px solid #a0522d;
  font-family: "Overpass";
  font-weight: 600;
  padding: 2px 0px;
}
.left_moreMetaData button:hover {
  background-color: #502511;
}
/*FOR RIGHT SIDE -> SERVICES*/
.service_meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #a0522d;
  box-sizing: border-box;
  border-radius: 10px 0px;
  padding: 10px;
  margin-bottom: 14px;
}
.service_meta_textContent_services {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  font-weight: 600;

  color: #000000;
  mix-blend-mode: normal;
  margin-bottom: 20px;
}
.service_meta_textContent_time {
  font-family: "Poppins";
  color: white;
  background-color: rgb(206, 0, 206);
  border: 1px solid rgb(255, 72, 255);
  font-weight: 600;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 20px;
}
.service_meta_textContent_cost {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  font-weight: 600;

  color: #000000;
  mix-blend-mode: normal;
  margin-top: 20px;
}
.serviceImage {
  width: 150px;
  width: 150px;
  object-fit: cover;
}
.service_btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.service_btn button {
  background: #a0522d;
  border-radius: 10px 0px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  border: 1px solid #a0522d;
  padding: 2px 16px;
  text-align: center;

  color: #f6f1f1;
}
.service {
  margin-bottom: 14px;
}

/*FOR REVIEWS SECTION*/
/* @media (max-width: 400px) {
  .manavesh_1 {
    display: block;
  }
  @media (min-width: 401px) {
    .form-group--number {
      width: 50%;
    }
  }
}
.scroll {
  height: 500px;
  overflow-y: scroll;
}
.btnMinus {
  background-color: blueviolet;
  color: white;
  border: solid blueviolet;
  font-size: 20px;
  padding: 0px 10px;
  width: 20%;
}
.btnPlus {
  background-color: orange;
  color: white;
  border: solid orange;
  font-size: 20px;
  padding: 0px 10px;
  width: 20%;
}
input {
  border: none;
  padding: 0px 10px;
  border: solid rgb(175, 175, 181);
  text-align: center;
  width: 80%;
  font-size: 20px !important;
}

.outerDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
} */

/*-------------------NEW-----------------------*/
.reviews_stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stars {
  flex-basis: 50%;
}
.averageStars {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  line-height: 29px;
  font-weight: 600;
  /* identical to box height, or 45% */
  margin: 40px 0px 20px 0px;
  color: #000000;
}
.singleStarItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 15px 0px;
  padding-left: 20px;
}
.singleStarItemCount {
  width: 20%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  /* or 135% */

  color: #0093c1;
  font-weight: 600;
}
.singleStarItemTable {
  width: 80%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  /* identical to box height, or 153% */

  color: #00273e;

  opacity: 0.9;
}
.reviewBox {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: -0.002em;
  margin: 20px 0px;
  color: #000000;
}
.textInput {
  border: none;
  border-bottom: solid 1px grey;
  padding: 20px 0px 5px 0px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  /* identical to box height, or 126% */

  color: #000000;

  opacity: 0.56;
}
.addToCart {
  background: #a0522d;
  border-radius: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */
  border: #a0522d solid 1px;
  color: #ffffff;
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.starsTotal {
  margin: 20px 0px;
}
.reviewPerson {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  /* identical to box height, or 135% */

  color: #000000;
  margin-right: 10px;
}
.reviewText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  /* or 153% */

  color: #000000;

  opacity: 0.9;
  margin-top: 10px;
}
.reviewsSection {
  padding-left: 20px;

  padding-right: 20px;
}
.date {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  color: #4d4d4d;

  opacity: 0.7;
}
.textInput {
  font-size: 23px;
  line-height: 29px;
  /* identical to box height, or 126% */
  font-weight: 600;
  color: #000000;
  padding: 10px;
  opacity: 0.56;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid black;
}
.reviewsSection {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .left,
  .right {
    flex-basis: 100%;
    padding: 10px;
  }

  .left_title {
    font-size: 24px;
  }
  .left_address {
    font-size: 16px;
    line-height: 36px;
  }
  .left_best_title {
    font-size: 20px;
  }
  .best_card {
    font-size: 16px;
  }
  .stars {
    flex-basis: 100%;
  }
  .averageStars {
    font-size: 50px;
  }
  .service_meta_textContent_services span,
  .service_meta_textContent_cost,
  .service_meta_textContent_time {
    font-size: 18px;
  }
  .left_more_title {
    font-size: 20px;
    text-align: center;
  }
  .left_moreHotels {
    padding: 10px;
  }
  .left_moreMetaData_title {
    font-size: 21px;
  }
  #hello {
    display: none;
  }
}
