.bg {
  background-color: rgb(255, 255, 255);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg div {
  color: rgb(0, 0, 0);
}
.inputfield {
  background-color: rgb(255, 244, 244);
  border: none;
  border-bottom: solid 3px rgb(255, 255, 0);
  font-size: 20px;
  text-align: center;
}
.inputfield::placeholder {
  background-color: rgb(255, 255, 255);
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik";
}
.formButton {
  border: solid 1px yellow;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
}

.title {
  color: yellow;
  font-family: "Rubik";
  font-size: 30px;
  margin-bottom: 10px;
}
