@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,900;1,900&display=swap");
.customFile {
  font-weight: 600 !important;
  border: solid 1px white;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 20px;
}
.imageInput {
  background-color: orange;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.image {
  height: 70vh;
  width: auto;
  object-fit: contain;
  margin: 20px;
}
.noImages {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  height: 60vh;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.imagesList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.currImage {
  height: 200px;
  width: 200px;
}
.imagesList div button {
  margin-top: 5px;
  font-family: "Rubik";
  width: 100%;
  background-color: red;
  border: 1px solid red;
  color: white;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.imagesList div button:hover {
  background-color: rgb(120, 23, 23);
}
.imagesList div {
  margin-bottom: 20px;
}
