.bg {
    background-color: #f3c538;
    /* height: 100vh; */
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .actualFP {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    margin: 40px 0px;
  }
  .FPInput {
    border: 2px solid #f3c538;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin: 10px 0px;
  }
  .FPInput::hover {
    color: grey;
    font-weight: normal;
  }
  .FPLabel1 {
    font-size: 28px;
    font-weight: bold;
  }
  .FPLabel2 {
    font-size: 14px;
    font-weight: bold;
  }
  
  .FPSubmit {
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
    border-radius: 4px;
    margin: 10px 0px;
  }
  .FPSubmit:hover {
    background-color: purple;
    color: white;
    border: 1px solid purple;
    border-radius: 4px;
    margin: 10px 0px;
  }